.Course-Catalogue {
  width: 90%;
  max-width: 1300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.Search-Bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px #8d857e;
}

.Search-Bar input {
  width: 67%;
  font-size: 16px;
  margin-left: 3%;
  border: none;
  outline: none;
}

.Search-Bar svg {
  margin-right: 1.5%;
}

.Course-Container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 50px;
}

.Course-Filter-Container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 25%;
  min-height: 1000px;
  border-radius: 25px;
  border: 1px solid #000;
}

.Course-Filter {
  width: 67%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  border-bottom: 1px solid black;
}

.Filter-Name {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.Filter-Name h2 {
  font-size: 16px;
}

.Filter-Options span {
  font-size: 16px;
  font-weight: 400;
}

.Courses {
  width: 70%;
}

/* Course Card on Catalogue */
.Course-Catalogue .CourseName {
  font-size: 22px;
}

.Course-Catalogue .CourseStatus {
  gap: 0;
}

.Course-Catalogue .CourseStatusIcon {
  width: 10px;
  height: 20px;
}

.Course-Catalogue .Course-Rating-Duration-Publisher {
  gap: 1%;
}

.Course-Catalogue .CourseStatusText,
.Course-Catalogue .CourseDuration,
.Course-Catalogue .CoursePublisher,
.Course-Catalogue .CourseTagText,
.Course-Catalogue .CourseDescription,
.Course-Catalogue .courseEarnTokenText {
  font-size: 12px;
}

.Course-Catalogue .courseEarnToken {
  padding: 12px 2.5%;
}

.Course-Catalogue .courseEarnTokenIconAndText {
  gap: 9px;
}

.Course-Catalogue .courseTotalToken {
  font-size: 14px;
}
