@keyframes moveToggle {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.landingPage {
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.visitAlexandriaBanner {
  border-radius: 50px;
  /* flex-shrink: 0; */
  margin-top: 40px;
  position: relative; /* Enables absolute positioning of child elements */
  overflow: hidden;
}

.visitAlexandriaBanner img {
  width: 100%;
}

.visitAlexandriabannerHeading {
  color: #fff;
  font-family: 'New Order', sans-serif; /* Make sure the font name is correct */
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 45%;
  height: 240px;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start; /* Align text to the left */
}

.visitAlexandriabannerSubheading {
  color: #fff;
  font-size: 20px;
  line-height: normal;
  text-align: left; /* Align text to the left */
  width: 40%; /* Adjust as needed */
  left: 0; /* Adjust as needed */
}

.visitAlexandriabannerButton {
  margin-top: 1% !important;
  flex-direction: row;
  gap: 10px;
  background: var(--main-brown, #9e7c5e) !important;
}
.visitAlexandriaBannerTextInButton {
  padding: 0px 12px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  text-transform: none;
}

.visitAlexandriabannerHeading,
.visitAlexandriabannerSubheading,
.visitAlexandriabannerScroll,
.visitAlexandriabannerButton {
  position: absolute !important; /* Positioning relative to .visitAlexandriaBanner */
  left: 96px; /* Adjust as needed */
}

.visitAlexandriabannerHeading {
  top: 100px; /* Adjust as needed */
}

.visitAlexandriabannerSubheading {
  top: 350px; /* Adjust as needed */
}

.visitAlexandriabannerButton {
  top: 430px; /* Adjust as needed */
}

.visitAlexandriabannerScroll {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  top: 520px; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
}

.whatIsAlexandriaContainer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin: 129px 166px 200px 166px;
  flex-direction: column;
}

.whatIsAlexandria {
  display: flex;
  width: 484px;
  height: 62px;
  justify-content: center;
  flex-shrink: 0;
  color: #2a2927;
  text-align: center;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.AlexandriaIn-whatIsAlexandria {
  color: #9e7c5e;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.shortIntroAlexandria {
  margin-top: 18px;
  display: flex;
  width: 540px;
  height: 51px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--dark-brown-for-body-text, #433c38);
  text-align: center;

  /* Body */
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ourVisionBanner {
  padding-top: 50px;
  overflow: hidden;
  text-align: left;
  position: relative;
}

.ourVisionBanner img {
  width: 100%;
}

.ourVisionContainer {
  position: absolute !important;
  left: 96px;
  top: 9em;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}

.ourVisionTitle {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
}

.ourVisionContent {
  color: #fff;
  margin-bottom: 13px;
}

.selectSection {
  height: 80px !important;
  flex-shrink: 0 !important;
  border-radius: 100px !important;
  background: var(--deactivated-light-grey, #edebe8) !important;
}

.selectedSectionButton {
  width: 277px !important;
  height: 80px !important;
  flex-shrink: 0 !important;
  border-radius: 50px !important;
  background: var(--main-brown, #9e7c5e) !important;
  animation: moveToggle 1s ease forwards;
}

.selectedSectionButtonText {
  display: flex;
  width: 209px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: ceter;
  text-transform: none;
  /* Title 2 */
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SectionButtonText {
  display: flex;
  width: 260px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  color: #2e2c2a;
  text-align: center;
  text-transform: none;

  /* Title 2 */
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SectionButton {
  width: 277px !important;
  height: 80px !important;
  flex-shrink: 0 !important;
  border-radius: 50px !important;
  border: none !important;
}

.SectionButton,
.selectedSectionButton {
  transition: background 0.5s ease; /* This line */
}

.introductionContent {
  margin-top: 20px;
  align-items: center;
  gap: 100px;
  transform: translateY(50px);
  transition: all 0.5s ease;
}

.introductionContent div.active {
  opacity: 1;
  transform: translateY(0);
}

.ourCoursesSection {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.ourCoursesHeading {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
  justify-content: center; /* Centers the content vertically */
  text-align: center; /* Aligns the text within the elements to center */
}

.ourCoursesText {
  color: #2a2927;
  text-align: center;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.courses-in-ourCourses {
  color: var(--main-brown, #9e7c5e);
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ourCoursesLongText {
  display: flex;
  width: 540px;
  height: 51px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--dark-brown-for-body-text, #433c38);
  text-align: center;
  /* Body */
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 18px;
}

.takeCourse {
  padding: 12px 25px !important;
  gap: 10px !important;
  border-radius: 5px !important;
  background: var(--main-brown, #9e7c5e) !important;
  margin-top: 25px !important;
}

.takeCourseText {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
}

.courseCards {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.functionContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.functionTitle {
  color: #2a2927;
  font-size: 40px;
  font-weight: 700;
}

.functionContentContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.brownColor {
  color: #9e7c5e;
}
