@keyframes moveToggle {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.landingPage {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.visitAlexandriaBanner {
  border-radius: 50px;
  background: #232221;
  width: 90%;
  height: 650px;
  flex-shrink: 0;
  margin-top: 40px;
  position: relative; /* Enables absolute positioning of child elements */
  overflow: hidden;
}

.visitAlexandriaBanner img {
  border-radius: 50px;
  width: 100%;
  height: 105%;
}

.visitAlexandriabannerHeading {
  color: #fff;
  font-family: 'New Order', sans-serif; /* Make sure the font name is correct */
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 50%;
  height: 240px;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start; /* Align text to the left */
}

.visitAlexandriabannerSubheading {
  color: #fff;
  font-size: 20px;
  line-height: normal;
  text-align: left; /* Align text to the left */
  width: 55%; /* Adjust as needed */
  position: absolute; /* Positioning relative to .visitAlexandriaBanner */
  left: 0; /* Adjust as needed */
  top: 370px; /* Adjust as needed */
}

.visitAlexandriabannerButton {
  display: flex;
  padding: 12px 25px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--main-brown, #9e7c5e);
  /* Add some spacing between the subheading and button */
  margin-top: 20px;
}

.visitAlexandriaBannerTextInButton {
  color: #fff;
  text-align: center;
  font-family: 'Jost', sans-serif; /* Apply the Jost font */
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: none;
}

.visitAlexandriabannerHeading,
.visitAlexandriabannerSubheading,
.visitAlexandriabannerButton {
  position: absolute; /* Positioning relative to .visitAlexandriaBanner */
  left: 96px; /* Adjust as needed */
}

.visitAlexandriabannerHeading {
  top: 84px; /* Adjust as needed */
}

.visitAlexandriabannerSubheading {
  top: 370px; /* Adjust as needed */
}

.visitAlexandriabannerButton {
  top: 450px; /* Adjust as needed */
}

.whatIsAlexandriaContainer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin: 129px 166px 200px 166px;
  flex-direction: column;
}

.whatIsAlexandria {
  display: flex;
  width: 484px;
  height: 62px;
  justify-content: center;
  flex-shrink: 0;
  color: #2a2927;
  text-align: center;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.AlexandriaIn-whatIsAlexandria {
  color: #9e7c5e;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.shortIntroAlexandria {
  margin-top: 18px;
  display: flex;
  width: 540px;
  height: 51px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--dark-brown-for-body-text, #433c38);
  text-align: center;

  /* Body */
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ourVisionBanner {
  padding-top: 50px;
  width: 90%;
  overflow: hidden;
}

.ourVisionBanner img {
  width: 100%;
  height: 100%;
}

.selectSection {
  width: 1104px !important;
  height: 80px !important;
  flex-shrink: 0 !important;
  border-radius: 100px !important;
  background: var(--deactivated-light-grey, #edebe8) !important;
}

.selectedSectionButton {
  width: 277px !important;
  height: 80px !important;
  flex-shrink: 0 !important;
  border-radius: 50px !important;
  background: var(--main-brown, #9e7c5e) !important;
  animation: moveToggle 1s ease forwards;
}

.selectedSectionButtonText {
  display: flex;
  width: 209px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;

  /* Title 2 */
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SectionButtonText {
  display: flex;
  width: 260px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  color: #2e2c2a;
  text-align: center;

  /* Title 2 */
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SectionButton {
  width: 277px !important;
  height: 80px !important;
  flex-shrink: 0 !important;
  border-radius: 50px !important;
  border: none !important;
}

.SectionButton,
.selectedSectionButton {
  transition: background 0.5s ease; /* This line */
}

.introductionContent {
  margin-top: 93px;
  align-items: center;
  gap: 100px;
  transform: translateY(50px);
  transition: all 0.5s ease;
}

.introductionContent div.active {
  opacity: 1;
  transform: translateY(0);
}

.ourCoursesSection {
  width: 90%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.ourCoursesHeading {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
  justify-content: center; /* Centers the content vertically */
  text-align: center; /* Aligns the text within the elements to center */
}

.ourCoursesText {
  color: #2a2927;
  text-align: center;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.courses-in-ourCourses {
  color: var(--main-brown, #9e7c5e);
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ourCoursesLongText {
  display: flex;
  width: 540px;
  height: 51px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--dark-brown-for-body-text, #433c38);
  text-align: center;
  /* Body */
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 18px;
}

.Footer {
  max-width: 1440px; /* Allows it to shrink on smaller screens */
  width: 100%; /* Takes up the full width of the container */
  height: 358px;
  margin-top: 50px;
  border-radius: 30px 30px 0 0;
  background: #232221;
  box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
  display: flex; /* Can be used to align child elements */
  justify-content: space-between; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  padding: 20px; /* Provides some space around the content */
  color: #ffffff; /* Sets a default text color */
}

.takeCourse {
  display: flex !important;
  padding: 12px 25px !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 10px !important;
  border-radius: 5px !important;
  background: var(--main-brown, #9e7c5e) !important;
  margin: 50px 639.5px 200px 639.5px !important;
}

.takeCourseText {
  color: #fff;
  text-align: center;
  /* Headline */
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.courseCards {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
