.courseCard {
  width: 100%;
  border-radius: 25px;
  background: var(--deactivated-light-grey, #edebe8);
}

.innerCourseCard {
  padding: 30px;
  display: flex;
  align-items: center;
}

.innerCourseCardLeft {
  flex: 8 0 0;
  display: flex;
  align-items: center;
  gap: 5%;
}

.innerCourseCardLeftRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.innerCourseCardSvg {
  width: 30%;
  height: 40%;
  border-radius: 15px;
}

.CourseDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.CourseTitle {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.CourseName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  align-items: flex-start;
}

.CourseStatus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
}

.CourseStatusIcon {
  width: 20px;
  height: 20px;
}

.CourseStatusText {
  color: #000;
  font-size: 14px;
}

.Course-Rating-Duration-Publisher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.CourseRating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
}

.CourseRatingStar {
  width: 15px;
  height: 15px;
}

.CourseRatingCount {
  line-height: 15px;
  margin: 0;
  color: var(--main-brown, #9e7c5e);
  font-size: 16px;
}

.CourseDuration {
  display: flex;
  width: 90px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  color: var(--deactivated-dark-grey, #757575);
  text-align: center;
  font-size: 16px;
  line-height: 15px;
  padding: 0;
}

.CoursePublisher {
  display: flex;
  height: 17px;
  flex-direction: column;
  justify-content: center;
  color: var(--main-brown, #9e7c5e);
  font-size: 16px;
  align-items: flex-start;
}

.CourseTag {
  display: flex;
  align-items: flex-start;
  gap: 7px;
}

.CourseTagVideo {
  display: inline-flex;
  padding: 0px 11px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #9e7c5e;
}

.CourseTagCrossChain {
  display: flex;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #648daa;
}

.CourseTagText {
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
}

.CourseDescription {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  color: #000;
  font-size: 15px;
  font-weight: 400;
}

.innerCourseCardRight {
  flex: 2 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.courseEarnToken {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  padding: 0 !important;
}

.courseEarnTokenIconAndText {
  display: flex;
  align-items: center;
  gap: 9px;
  background: var(--main-brown, #9e7c5e);
  border-radius: 5px;
  padding: 12px 25px;
}

.courseEarnTokenIcon {
  width: 19px;
  height: 19px;
}

.courseEarnTokenText {
  color: #fff;
  text-align: center;
  font-size: 15px;
}

.courseEarnTokenButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: left; /* or "inherit" if you want to preserve the alignment from the parent */
}

/* Ensuring the button doesn't show any focus outline; adjust as needed for accessibility */

.courseTotalToken {
  height: 20px;
  color: var(--deactivated-dark-grey, #757575);
  text-align: right;
}
